#intro{
    background-image: url(../assets/images/Background_Intro.png);
    background-size: cover;
    padding-block: 120px;
    padding-inline: 343px;

    p{
        margin-top: 20px;
    }
}

#introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 112px;
        height: 112px;

        margin-bottom: 56px;
    }

    strong{
        font-weight: initial;
    }
}

#skills{
    margin-top: 80px;
    width: 754px;

    display: flex;
    justify-self: center;
    justify-content: space-around;

    span{
        display: flex;
        align-items: center;
        gap: 5px;
        font: var(--text-md);

        img{
            height: 24px;
            width: 24px;
        }
    }

    div{
        padding-inline: 16px;
        padding-block: 8px;
        background-color: var(--gray-300);
        border-radius: 999px;
    }
}

#vector{
    display: flex;
    justify-self: center;
    margin-top: 94px;
}

#projects{
    background-color: var(--gray-200);  
    padding-inline: 163px;
    height: 850px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.container{
    margin: auto;
    margin-top: 56px;
    width: 1040px;
    margin-bottom: 144px;
}

.project-card{
    background-color: var(--gray-300);
    border-radius: 12px;
    width: 330px;
    height: 280px;
    padding: 12px;

    img{
        width: 306px;
        height: 156px;
        border-radius: 8px;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 8px;
    }

    &:hover{
        border: 1px solid var(--gray-600);
        cursor: pointer;
    }
}

#services{
    background-color: var(--gray-100);
    height: 480px;
    padding: 88px 120px 120px 120px;
}

#services-grid{
    margin: auto; 
    width: 888px;
}

.service-card{
    display: grid;
    border: 1px solid var(--gray-200);
    margin-top: 56px;
    width: 280px;
    height: 155px;
    padding: 20px;
    border-radius: 12px;
}

#contact{
    background-image: url(../assets/images/Background_Contacts.png);
    background-size: cover;

    padding: 128px 120px 200px 120px;
}

#links{
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 16px;


    margin-top: 48px;
}

.link-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    border-radius: 8px;

    background-color: var(--gray-300);

    width: 400px;
    height: 68px;

    span{
        font: var(--text-sm);
    }

    &:hover{
        border: 1px solid var(--color-blue);
        cursor: pointer;
    }
}