.flex{
    display: flex;
}

.grid{
    display: grid;
}

.grid-cols-3{
    grid-template-columns: repeat(3, 1fr);
}

.gap-24{
    gap: 24px;
}

.text-color-red{
    color: var(--color-red);
}

.text-color-purple{
    color: var(--color-purple);
}

.text-color-blue{
    color: var(--color-blue);
}

.text-color-green{
    color: var(--color-green);
}

.text-color-yellow{
    color: var(--color-yellow);
}